Repository ovh-ux/ng-ovh-contacts: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint 'src/**/*.html', eslint --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint 'src/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ]
}

fix: after review
  package.json
  src/form/oui-ui-select-flag/match.tpl.html
  src/form/ovh-contact-form.controller.js
  src/form/ovh-contacts-form.directive.js
  src/helpers/ovh-contacts.helpers.js
  src/ovh-contacts.constants.js
  src/ovh-contacts.service.js
Due: htmlhint 'src/**/*.html', eslint --fix

fix(i18n): submit
  src/translations/Messages_fr_FR.xml
Due: none

fix(i18n): retrieve
  src/translations/Messages_cs_CZ.xml
  src/translations/Messages_de_DE.xml
  src/translations/Messages_en_ASIA.xml
  src/translations/Messages_en_AU.xml
  src/translations/Messages_en_CA.xml
  src/translations/Messages_en_GB.xml
  src/translations/Messages_en_SG.xml
  src/translations/Messages_en_US.xml
  src/translations/Messages_es_ES.xml
  src/translations/Messages_es_US.xml
  src/translations/Messages_fi_FI.xml
  src/translations/Messages_fr_CA.xml
  src/translations/Messages_it_IT.xml
  src/translations/Messages_lt_LT.xml
  src/translations/Messages_nl_NL.xml
  src/translations/Messages_pl_PL.xml
  src/translations/Messages_pt_PT.xml
Due: none

refactor: change model management
  src/form/ovh-contact-form.controller.js
  src/form/ovh-contacts-form.directive.js
  src/form/templates/ovh-contacts-form-fieldset.html
  src/helpers/ovh-contacts.helpers.js
  src/index.js
  src/ovh-contacts.provider.js
  src/ovh-contacts.service.js
Due: htmlhint 'src/**/*.html', eslint --fix

fix: provider injection
  src/ovh-contacts.provider.js
Due: eslint --fix

docs: add .github folder
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

1.0.0-alpha.0
  CHANGELOG.md
  package.json
Due: none

fix: use API POST params for creation rules
  src/form/ovh-contact-form.controller.js
  src/form/ovh-contacts-form.directive.js
  src/form/templates/ovh-contacts-form-fieldset.html
  src/helpers/ovh-contacts.helpers.js
  src/ovh-contacts.service.js
Due: htmlhint 'src/**/*.html', eslint --fix

1.0.0-alpha.1
  CHANGELOG.md
  package.json
Due: none

fix: ui-select templates
  src/form/oui-ui-select-flag/match.tpl.html
  src/form/oui-ui-select-flag/select.tpl.html
Due: htmlhint 'src/**/*.html'

1.0.0-alpha.2
  CHANGELOG.md
  package.json
Due: none

fix(i18n): retrieve
  src/translations/Messages_de_DE.xml
  src/translations/Messages_en_ASIA.xml
  src/translations/Messages_en_AU.xml
  src/translations/Messages_en_CA.xml
  src/translations/Messages_en_GB.xml
  src/translations/Messages_en_SG.xml
  src/translations/Messages_en_US.xml
  src/translations/Messages_es_ES.xml
  src/translations/Messages_es_US.xml
  src/translations/Messages_it_IT.xml
  src/translations/Messages_nl_NL.xml
  src/translations/Messages_pl_PL.xml
  src/translations/Messages_pt_PT.xml
Due: none

1.0.0
  CHANGELOG.md
  package.json
Due: none

refactor: simplify code by removing some recursivity
  src/form/ovh-contact-form.controller.js
  src/form/templates/ovh-contacts-form-fieldset.html
  src/helpers/ovh-contacts.helpers.js
  src/ovh-contacts.service.js
Due: htmlhint 'src/**/*.html', eslint --fix

build(package.json): sort entries
  package.json
Due: none

docs(readme): use right module name
  README.md
Due: none

build(rollup): add esm format
  package.json
  rollup.config.js
Due: eslint --fix

build(deps): add npm-run-all as a devDepencendy
  package.json
  yarn.lock
Due: none

build(htmlhint): run htmlhint when lint scripts are launched
  .htmlhintrc
  package.json
Due: none

build(eslint): add browser env
  .eslintrc.json
Due: none

build(eslint): use eslint-formatter-pretty
  package.json
  yarn.lock
Due: none

build(eslint): add eslint-plugin-markdown
  .eslintrc.json
  package.json
  yarn.lock
Due: none

build(deps): upgrade some devDependencies
  package.json
  yarn.lock
Due: none

fix: code review
  src/form/ovh-contact-form.controller.js
  src/helpers/ovh-contacts.helpers.js
Due: eslint --fix

fix: contact creation
  src/form/templates/ovh-contacts-form-fieldset.html
  src/helpers/ovh-contact.class.js
  src/helpers/ovh-contacts.helpers.js
  src/ovh-contacts.service.js
Due: htmlhint 'src/**/*.html', eslint --fix

1.0.1
  CHANGELOG.md
  package.json
Due: none

build: bump ovh-api-services to v9
  package.json
Due: none

v2.0.0
  CHANGELOG.md
  package.json
Due: none

docs: remove CODE_OF_CONDUCT.md file.
  CODE_OF_CONDUCT.md
Due: none

docs: remove CODE_OF_CONDUCT.md file. (#24)
  CODE_OF_CONDUCT.md
Due: none

build(dev-deps): upgrade some dev dependencies
  package.json
  yarn.lock
Due: none
